main
{
	background-color:#f5f5f5;
	width:700px;
	height:300px;
	padding:25px;
}
.div1
{
		padding:10px;
	background-color:white;
	border: 1px solid black;
}
.div2
{
		padding:10px;
	background-color:white;
	border: 1px solid black;
	
	
}
.mi{
	
	font-style:italic;
	text-align:right;
}